$color-text:#745A4C;
$color-main:#745A4C;

$layout-width-inner: 800px;

//ブレイクポイント
$breakpoints: (
  "sp": "(max-width: 767px)", //767px以下（スマホ）用の表示
  "tab": "(min-width: 768px) and (max-width: #{$layout-width-inner})", //768px以上（タブレット・PC）用の表示
  "pc": "(min-width: #{$layout-width-inner})", //1101px以上（PC）用の表示
);

//メディアクエリ
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

/* ================================
reset.css
================================ */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body{
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #fff;
    color: $color-text;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
}

.section {
    padding: 110px 0;

    @include mq('sp') {
        padding-top: 50px;
        padding-bottom: 60px;
    }

}
.inner {
    width: $layout-width-inner;
    max-width: 100%;
    margin: 0 auto;

    @include mq('tab') {
        padding-left: 24px;
        padding-right: 24px;
    }

    @include mq('sp') {
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* ================================
header
================================ */


/* ================================
main-visual
================================ */
.main-visual {
    background: url(../img/mainimage.png) no-repeat center center / cover;
    padding-top: 56.09%;
    position: relative;
    object-fit: cover;
    min-height: 900px;

    @include mq('sp') {
        min-height: 811px;
    }
    // height: 100vh;
    // margin-top: 100px;
}
.main-visual__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.main-visual__title {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;

}
.main-visual__subtitle {
    font-size: 24px;
    color: #fff;
  
}
.main-visual__logo {
    padding-top: 20px;

    img {
        width: 20%;
    }
}

/* ================================
news section
================================ */
.news {
    background: url(../img/bg.png) no-repeat center center / cover;
    height: 450px;
    padding-block-start: 80px;
}
.news__inner {
    background: #fff;
    padding: 15px 51px;
    height: 289px;
}
.news__head {
    font-size: 30px;
    font-weight: 700;
    padding-top: 20px;
}
.news__items {
    float: left;
    padding-top: 8px;
}
.news__item {
    padding: 7px 0;
}
.news__meta {
    font-size: 12px;
}
.news__date {

}
.news__title {
    a {
        text-decoration: none;
    }
}
.news__more {
    float: right;
    font-weight: 700;
    border-bottom: 1px solid #603D79;
    padding: 118px 0 7px;
    width: 140px;
    a {
        text-decoration: none;
        color: #000;
    }
}
/* ================================
content section
================================ */
.content {

}
.content__inner {
    
}
.content__items {
    display: flex;
    flex-wrap: wrap;
}
.content__item {
    width: calc(25% - 30px * 3 / 4);

    @include mq('pc') {
        &:not(:nth-child(4n + 1)) {
            margin-left: 30px;
        }
    
        &:nth-child(n + 5) {
            margin-top: 30px;
        }
    }
}
.card__img {
    img {
        width: 100%;
    }
}
/* ================================
concept section
================================ */
.concept {
    background: #E8E8E2;
}
.concept__inner {

}
.concept__head {
    font-size: 29px;
    font-weight: 700;
    display: flex;
    align-items: center;
    
    &::before , &::after {
        content: '';
        height: 1px;
        flex-grow: 1;
        background-color: #745A4C;
    }
}
span {
    padding: 0 30px 25px;
}
.ul,li {
    display:flex; //画像とテキストを横並びに
    
    &:nth-child(even) {
        flex-direction: row-reverse;
    }
}
li {
    height: 249px;
    padding-bottom: 21px;
}
.concept__text-even {
    height: 179px;
    margin: 35px 0 0 64px;
}
.concept__text-odd {
    height: 179px;
    margin: 35px 64px 0 0;

}
.concept__subtitle {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 21px;
}
.concept__lead {
    color: #707070;
}

/* ================================
contact
================================ */
.contact {
    background-color: #DEDCD4;
}
.contact__inner {
    height: 108px;

}
.contact__items {
    display: flex;
    align-items: center;
}
.contact__item {
    width: calc(33.3% - 38px * 2 / 3);
    text-align: center;

    &:not(:nth-child(3n + 1)) {
        margin-left: 20px;
    }

}
.contact__address {
    text-align: left;
    width: 350px;
}
.contact__subtitle {
    font-size: 11px;
    padding-bottom: 10px;
}
.contact__logo {

    img {
        width: 60%;
    }
}
.contact__subtext {
    font-size: 11px;
    font-weight: 700;
}
.contact__button {
    position: relative;
    font-size: 21px;
    
    &::before {
        content: "";
        width: 15px;
        height: 15px;
        background: url(../img/icons8-phone_time.png) no-repeat center center / contain;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        
    }
    a {
        display: inline-block;
        font-size: 15px;
        text-decoration: none;
        width: 400px;
        height: 70px;
        max-width: 100%;
        line-height: 70px;
        background-color: #F4F4F4;
        color: $color-text;
        outline: none;
        font-weight: 700;
        }

}
/* ================================
footer
================================ */
.footer {
    height: 250px;
    padding-block-start: 50px;
    background-color: $color-main;
    color: #ffffff;
}
.footer__inner {
    
}
.footer__items {
    display: flex;
}
.footer__item {
    width: calc(20% - 55px * 4 / 5);
    margin-left: 60px;
    padding-bottom: 20px;
    
    a {
        text-decoration: none;
        
    }
}
.footer__sns-links {
    display: flex;
    justify-content: space-around;
}
.footer__sns-link {
    img{

    }

    a {
        text-decoration: none;

    }
}
.footer__copylight {
    text-align: center;
    padding-top: 40px;
}